# Meta API credentials para el scraper de redes sociales
# Obtenelos de: https://developers.facebook.com/apps

META_APP_ID=tu_app_id
META_APP_SECRET=tu_app_secret
META_ACCESS_TOKEN=tu_access_token_de_usuario
INSTAGRAM_ACCESS_TOKEN=tu_token_de_instagram_basic_display
